public
resources
node_modules
/AssetOptimiser/AssetOptimiser/.vs/AssetOptimiser/v16
/AssetOptimiser/AssetOptimiser/bin/Debug/netcoreapp2.1
/AssetOptimiser/AssetOptimiser/obj
/AssetOptimiser/AssetOptimiser/.vs/AssetOptimiser/config
/AssetOptimiser/AssetOptimiser/bin/Release/netcoreapp2.1
/AssetOptimiser/.vs/AssetOptimiser
/AssetOptimiser/Properties
/AssetOptimiser/bin
/AssetOptimiser/obj
