<link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/sp-minimal.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/sp-minimal-simple.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/mystyles.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/mobile.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/pygments-gen.css">

<script type="text/javascript" src="{{ .Site.BaseURL }}js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/lunr.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}js/search.js"></script>