<!-- ByDate wasn't working on the paginator :( -->
{{ $paginator := .Paginate (where $.Site.Pages "Type" "post") }}
<div class="pagination"> {{ template "_internal/pagination.html" . }} </div>
{{ range sort $paginator.Pages "Date" }}
<div class="post-list-item">
    <p class="remove-margin-bottom">
        <small>
            <time datetime='{{ .Date.Format " 02 January 2006 " }}'>{{ .Date.Format "02 January 2006" }}</time>
        </small>
    </p>
    
    <h1 class="post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h1>
    
    <div class="post-summary">
        {{ .Summary }}
    </div>
</div> 
{{ end }}
