{{ $IsServer := .Site.IsServer }}
{{ with resources.Match "assets/scripts/*" }}
{{ range sort . }}
{{ if $IsServer }}
<script type="text/javascript" defer src="{{ .Permalink  }}"></script>
{{ else }}
{{ $minified := . | minify }}
<script type="text/javascript" defer src="{{ $minified.Permalink  }}"></script>
{{ end }}
{{ end }}
{{ end }}


<!-- Global site tag (gtag.js) - Google Analytics -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=UA-122097969-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-122097969-1');
</script>