{{ $search := resources.Get "static/js/search.js" }}
{{ $pagesIndex := resources.Get "static/js/PagesIndex.js" }}
{{ $scripts := resources.Get "static/js/Scripts.js" }}
{{ $mediaScripts := resources.Get "static/js/MediaScripts.js" }}
{{ $stateful := resources.Get "static/js/StatefulScripts.js" }}
{{ $combined := slice $pagesIndex $search $scripts $mediaScripts $stateful | resources.Concat "js/bundle.js" | minify }}

<script type="text/javascript" defer src="{{ $combined.Permalink }}"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=UA-122097969-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-122097969-1');
</script>