@media print, screen and (max-width: 960px) {
    html {
        font-size: 8px;
    }

    h2 {
        font-size: 3rem;
    }

    .site-subtitle {
        font-size: 1.4rem;
    }

    header {
        position: fixed;
        width: 8rem;
    }

    section {
        margin-left: 9.5rem;
    }

    footer {
        float: left;
        position: fixed;
        width: 9.5rem;
        border-right: none;
        font-size: 1rem;
    }

    section {
        font-size: 2rem;
    }

    .right-chevrons {
        margin-top: -0.5rem;
    }

    small {
        font-size: 1.5rem;
    }

    .split-code-container {
        display: block;
    }
    
    .split-code-container .left {
        margin-right: unset;
        width: 100%;
    }
    
    .split-code-container .right {
        width: 100%;
    }

    code {
        font-size: 1.5rem;
    }

    li.tag-header {
        font-size: 3rem;
        font-weight: bold;
    }

    div.tag {
        width: 100%;
    }
    
    ul.tag-list {
        display: block;
    }

    .search-box {
        font-size: 1.2rem;
    }

    .results {
        width: 50rem;
    }

    .results-list {
        max-height: 35rem;
        width: 45rem;
    }

    .search-result {
        font-size: 0.8rem;
    }
}