@import "./variables.scss";

.default-codeblock {
  display: block;
}

.raw-codeblock {
  display: none;
}

.default-codeblock, .split-codeblock {
  summary {
    border-radius: 10px 10px 0 0;
    background-color: var(--codeblock-header-background);
    color: var(--codeblock-header-text);
    padding-left: 1rem;
    cursor: pointer;
    position: relative;

    .codeblock-summary {
      margin: 0;
      display: inline-flex;
      justify-content: space-between;
      padding: 0.5rem;
      font-size: inherit;

      .default-title {
        font-size: 1rem;
        color: var(--grey);
      }

      .code-type {
        position: absolute;
        right: 10px;
        color: var(--grey);
      }
    }
  }

  .highlight {
    margin-top: -1.5rem;
  }
}

.split-code-container {
  display: flex;
  justify-content: space-around;

  &.left-align {
    justify-content: unset;

    .left {
      margin-right: 3rem;
    }
  }

  .left,
  .right {
    max-width: 49%;

    .default-codeblock {
      display: none;
    }

    .raw-codeblock {
      display: block;
    }

    .codeblock-summary {
      width: 40%;
    }
  }
}

code {
  font-family: "Fira Code";
  font-size: 1rem;
}

// Inline stuff
p,
li,
section {
  > code {
    background-color: var(--very-light-black);
    color: var(--lightened-black);
    padding: 0.1rem 0.5rem;
    border-radius: 5px;
  }
}

// Code blocks
pre {
  overflow-x: auto;
  border-radius: 0 0 10px 10px;
  padding: 0.5rem 1rem;
  line-height: 1;
  > code {
    font-size: 0.8rem;
  }
}