@import './variables.scss';

#main-body.dark {
  --main-background: #{darken($main-colour, 20%)};
  --main-colour: #{darken($main-background, 10%)};
  --lightened-black: #{invert($lightened-black, 100%)};
  --very-light-black: #{invert($very-light-black, 100%)};
  --slategray: #{invert($slategray, 100%)};
  --grey: #{invert($grey, 100%)};
  --page-link-active: #{invert($page-link-active, 100%)};
  --green: #{lighten($green, 10%)};
  --lightgrey: #{invert($lightgrey, 100%)};
  --lightgreen: #{$lightgreen};
  --darkgreen: #{$darkgreen};

  --strong-colour: greenyellow;
  --h1-colour: #{lighten($main-colour, 80%)};
  --h2-colour: #{lighten($main-colour, 70%)};
  --h3-colour: #{lighten(invert($main-colour, 100%), 60%)};
  --darker-background: #{darken($main-colour, 15%)};
  --quote-background: #{rgba(invert($lightgreen, 100%), 0.5)};
  --search-result-background: #{darken($main-colour, 15%)};
  --search-result-border: #{lighten($main-colour, 15%)};
  --sidebar-border: #{darken($main-colour, 25%)};
  --blur-colour: 50%;
}