@media screen and (orientation:landscape) and (max-height: 530px) {
    .recent-posts-title, .recent-posts, .recent-render-container {
        display: none;
    }

    .sidebar {
        .description {
            display: none;
        }
    }

    footer {
        bottom: 5px;

        .me, .copyright, .citations, hr {
            display: none;
        }
    }
}

@media screen and (orientation: landscape) and (max-height: 750px) {
    .recent-posts-title, .recent-posts, .recent-render-container {
        display: none;
    }
}

@media print, screen and (max-width: 960px) {
    html {
        font-size: 9px;

        body {
            .wrapper {
                padding-right: 0;
                margin-top: 5.75rem;

                .post-list {
                    margin-left: 0;
                    font-size: 2rem;

                    .post-list-item {                        
                        .post-summary {
                            font-size: 2rem;

                            p {
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }

    .post-title {
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.75rem;
        overflow-wrap: break-word;
    }

    li {
        font-size: 2rem;
    }

    ul {
        overflow-wrap: break-word;
    }

    body {
        margin: 0;
    }

    h1 {
        margin: 0;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-left: 1rem;
    }

    .site-subtitle {
        font-size: 2rem;
    }

    header {
        position: fixed;
        width: 8rem;
    }

    section {
        padding: 0;
        margin-left: 0;
        width: auto;
        font-size: 1.5rem;
        width: 100vw;
        margin: auto;

        time {
            font-size: 1.2rem;
        }
    }

    footer {
        float: left;
        position: fixed;
        width: 9.5rem;
        border-right: none;
        font-size: 1rem;
        bottom: 5px;

        p {
            margin: 0;
        }
    }

    .right-chevrons {
        margin-top: -0.5rem;
    }

    small {
        font-size: 1.2rem;
    }

    code {
        font-size: 1.5rem;
    }

    pre {
        code {
            font-size: 1.5rem;
        }
    }

    .tags {
        margin: 0 0 0.5rem 0;
    }

    .tag-list {
        display: block;
        padding: 0;

        .tag {
            width: unset;
            
            .tag-header {
                font-size: 3rem;
                font-weight: bold;
            }
        }
    }

    .search-box {
        font-size: 3rem;
    }

    .results-list {
        max-height: 35rem;
        width: 40rem;
        position: static;

        .search-result {
            font-size: 1.7rem;
            height: 6rem;
        }
    }

    .sidebar {
        position: fixed;
        width: 100vw;
        height: 5.75rem;
        padding-left: 0.5rem;
        padding-top: 0;
        top: 0;
        box-shadow: 0 0 5px var(--sidebar-border);
        border-right: 2px solid var(--sidebar-border);

        footer {
            width: 98vw;
            opacity: 0;
            transition: all 0.2s;
            pointer-events: none;

            .light-dark-button {
                font-size: 2rem;
                margin-bottom: 2rem;
            }

            &.open {
                pointer-events: all;
                opacity: 100%;
            }
        }

        header {
            display: flex;
            justify-content: space-between;
            width: 98vw;
            align-items: center;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;

            .profile-picture {
                width: 40px;
            }

            .header-menu-container {
                display: block;
                position: fixed;
                top: 5.6rem;
                left: 0;
                backdrop-filter: blur(30px) brightness(var(--blur-colour));
                -webkit-backdrop-filter: blur(30px) brightness(var(--blur-colour));

                @supports not (backdrop-filter: blur(10px)) {
                    background-color: var(--transparentish-main-background);
                }

                width: 100vw;
                height: 100vh;
                opacity: 0;
                transition: all 0.2s;
                pointer-events: none;

                &.open {
                    pointer-events: all;
                    opacity: 100%;
                }

                .description {
                    font-size: 2rem;
                    text-align: center;
                }
            }

            .site-title {
                border: none;
                margin: 0;
                padding: 0;
                font-size: 2.5rem;
            }

            #hamburger-menu-button {
                display: block;
                color: var(--main-colour);
                background: none;
                border: none;
                font-size: 4rem;
                cursor: pointer;
            }
        }
    }

    .description {
        font-size: 1rem;
    }

    .recent-posts {
        position: unset;
        right: unset;
        top: unset;
        width: auto;

        li {
            font-size: 2rem;
            height: 2.5rem;
            margin-bottom: 1rem;
            text-align: center;
        }
    }

    .recent-render-container {
        .recent-title {
            font-size: 2rem;
            margin: 0.5rem 0 0.5rem 0;
        }
    }

    .render-nav-links {
        left: 0;
        width: 100vw;

        .prev {
            margin: unset;
        }

        .next {
            margin: 0;
        }
    }

    .render-date {
        width: 9rem;
    }

    .render {
        .render-date {
            font-size: 2rem;
        }
        .info {
            align-self: flex-start;
            
            .description, .details {
                p {
                    font-size: 1.5rem;
                    margin: 0;
                    margin-bottom: 0.5rem;
                }
            }

            .description {
                margin-bottom: 2rem;
            }

            .credits {
                .title {
                    font-size: 1.2rem;
                }

                .link {
                    font-style: italic;
                    font-size: 1.1rem;
                }
            }

            .details {
                flex-direction: column;
            }
        }

        .image {
            &.open {
                // transform-origin: 80% 50%;
                transform:scale(1.1);
            }
        }
    }

    hr {
        margin: 0;
    }

    .slides {
        .header-link-button {
            display: none;
        }
    }

    .light-dark-button {
        font-size: 1rem;
    }

    .split-code-container {
        flex-direction: column;

        .left, .right {
            width: 100%;
            margin-bottom: 1rem;
        }
    }
    
    .header-link-button {
        width: 4rem;
    }

    .render-list {
        padding-left: 1rem;
        padding-right: 1rem;

        .render-images {
            .tiles {
                > div {
                    width: auto;
                }

                .render-container {
                    margin: 0;
                    width: 33vw;
                }

                .render {
                    margin-top: 3rem;

                    .header-link {
                        flex-direction: column-reverse;

                        .header-date {
                            font-size: 1rem;
                            font-style: italic;
                        }
                    }

                    .image {
                        transform-origin: 30% 50%;
                    }

                    .render-date {
                        display: none;
                    }

                    &:hover {
                        transform: none;
                        z-index: auto;
                        backdrop-filter: none;
                        -webkit-backdrop-filter: none;
                        box-shadow: none;
                        border-radius: none;

                        .hq-links, .alt-text-container {
                            a {
                                display: none;
                            }
                        }
                    }
                }
            }

            .slides {
                flex-direction: row;
                scroll-snap-type: both mandatory;
                overflow: auto;

                .render-container {
                    margin-left: 4px;
                    margin-right: 4px;
                    scroll-snap-stop: always;
                    scroll-snap-align: start;
                    max-height: 80vh;
                }
                .render {
                    width: 95vw;
                    min-height: auto;

                    .header-text {
                        margin-top: -10px;
                        padding-top: 10px;
                    }

                    .image {
                        transform-origin: 60% 50%;
                    }
                }
            }
        }
    }

    .goat {
        width: 100%;
        margin: unset;
        margin-bottom: 1rem;
    }

    .big-search-background {
        .big-search-container {
            display: grid;
            width: 95%;
    
            .results-list {
                .search-result {
                    height: 10rem;

                    .search-element {
                        overflow: unset;
                        overflow-y: hidden;
                        
                        .search-element-text {
                            height: 2.8rem;
                            font-size: 1.15rem;
                            text-wrap: wrap;

                        }
    
                        .search-element-tags {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }
    }
}