@media media, screen and (orientation:landscape) and (max-height: 500px) {
    .recent-render-container, .recent-posts, .recent-title, .description, .citations {
        display: none;
    }
}

@media print, screen and (max-width: 960px) {
    html {
        font-size: 8px;
    }

    .post-title {
        margin-bottom: unset;
    }

    p {
        font-size: 1.5rem;
        overflow-wrap: break-word;
    }

    li {
        font-size: 1.5rem;
    }

    ul {
        overflow-wrap: break-word;
    }

    body {
        margin: 0;
    }

    h2 {
        font-size: 2rem;
    }

    .site-title {
        margin: 0 0 0.5rem 0;
    }

    .site-subtitle {
        font-size: 1.4rem;
    }

    header {
        position: fixed;
        width: 8rem;
    }

    section {
        padding: 0;
        margin-left: 10rem;
        width: 75%;
        font-size: 1.5rem;
    }

    footer {
        float: left;
        position: fixed;
        width: 9.5rem;
        border-right: none;
        font-size: 1rem;

        p {
            margin: 0;
        }
    }

    .right-chevrons {
        margin-top: -0.5rem;
    }

    small {
        font-size: 1.2rem;
    }

    code {
        font-size: 1.2rem;
    }

    pre {
        code {
            font-size: 1.2rem;
        }
    }

    .tags {
        margin: 0 0 0.5rem 0;
    }

    .tag-list {
        display: block;

        .tag {
            width: 100%;
            
            .tag-header {
                font-size: 3rem;
                font-weight: bold;
            }
        }
    }

    .search-box {
        font-size: 1.2rem;
    }

    .results-list {
        max-height: 35rem;
        width: 45rem;
        position: static;

        .search-result {
            font-size: 1.7rem;
        }
    }

    .sidebar {
        width: 9rem;
        border-right-width: 2px;
        padding-left: 0.5rem;
    }

    .description {
        font-size: 1rem;
    }

    .recent-render-container {
        .recent-title {
            font-size: 1.4rem;
            margin: 0.5rem 0 0.5rem 0;
        }
    
        .recent-posts {
            position: unset;
            right: unset;
            top: unset;
            width: 8rem;
    
            li {
                font-size: 1rem;
                height: 2.5rem;
            }
        }
    }

    .render {
        .info {
            .description, .details {
                p {
                    font-size: 1.2rem;
                    margin: 0;
                    margin-bottom: 0.5rem;
                }
            }

            .details {
                flex-direction: column;
            }
        }
    }

    hr {
        margin: 0;
    }

    .slides {
        .header-link-button {
            width: 6rem;
            height: 6rem;
        }
    }

    .light-dark-button {
        font-size: 1rem;
    }
}