@import "./variables.scss";
@import "./renders.scss";

@font-face {
  font-family: 'Fira Code';
  src: url('/fonts/FiraCode-Regular.woff2') format('woff2'),
    url("/fonts/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

#main-body.light {
  --main-background: #{$main-background};
  --transparentish-main-background: #{transparentize($main-background, 0.1)};
  --main-colour: #{$main-colour};
  --lightened-black: #{$lightened-black};
  --very-light-black: #{$very-light-black};
  --slategray: #{$slategray};
  --grey: #{$grey};
  --page-link-active: #{$page-link-active};
  --green: #{$green};
  --lightgrey: #{$lightgrey};
  --lightgreen: #{$lightgreen};
  --darkgreen: #{$darkgreen};
  --link: #{$link};

  --strong-colour: #{darken($main-colour, 10%)};
  --h1-colour: #{darken($main-colour, 40%)};
  --h2-colour: #{darken($main-colour, 35%)};
  --h3-colour: #{darken($main-colour, 13.6%)};
  --darker-background: #{darken($main-background, 2%)};
  --quote-background: #{rgba($lightgreen, 0.5)};
  --search-result-background: #{rgba($lightgreen, 0.1)};
  --search-result-border: #{rgba($lightgrey, 0.3)};
  --sidebar-border: #{darken($main-background, 20%)};
  --blur-colour: 150%;
  --codeblock-header-background: var(--main-colour);
  --codeblock-header-text: var(--main-background);
}



* {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  > img {
    margin: auto;
    display: block;
  }
}

p {
  font-size: 1.2rem;
}

li {
  font-size: 1.2rem;
}

h1 {
  font-weight: bold;
  color: var(--h1-colour);
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
  font-weight: bold;
  color: var(--h2-colour);
}

h3 {
  font-weight: bold;
  font-size: 1.4em;
}

h3,
h4 {
  color: var(--h3-colour);
  margin-bottom: 1rem;
  margin-top: 0;
  margin-left: 0.5rem;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--main-background);
  color: var(--main-colour);
}

strong {
  color: var(--strong-colour);
}

table {
  width: unset;

  tr {
    td {
      border: 1px solid var(--lightgrey);

      &:first-child {
        font-weight: bold;
      }
    }
  }

  th {
    color: var(--main-colour);
  }
}

footer {
  display: flex;
  flex-direction: column;
  bottom: 20px;
  width: 290px;

  p {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  .renders-link {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .me {
    display: flex;
    justify-content: space-around;
  }

  .citations {
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;

    a {
      margin-left: -5px;
    }
  }

  hr {
    margin: 0;
  }

  .copyright {
    margin-top: 5px;

    span {
      margin-left: -5px;
    }
  }

  .renders {
    display: inline-flex;
    align-items: center;

    img {
      margin-right: 0.5rem;
    }
  }
}

header,
footer {
  border: none;
}

section {
  font-size: 1.2rem;
  width: 75%;
  border: none;
  margin-left: 20rem;
}

small {
  font-size: 1rem;
}

.right-chevrons {
  font-size: 2.5rem;
  position: absolute;
  margin-top: -1.1rem;
  margin-left: 0.5rem;
  z-index: -1;
}

.media {
  text-align: center;

  > a {
    display: block;
  }

  &.video {
    margin-bottom: 2rem;
  }

  video {
    margin: auto;
  }

  #edge-av1-message {
    display: none;
    margin: auto;
  }

  .inner {
    border-radius: 5px;
    transition: all 0.3s;
  }
}

.spacer {
  margin-bottom: 2rem;
}

.alt-text {
  color: var(--gray);
  font-size: 75%;
  margin: auto;
  margin-bottom: 2rem;

  &.nospacer {
    margin-bottom: 0;
  }
}

.alt-text-container {
  display: flex;
}

.pagination {
  display: flex;
  justify-content: center;

  .pagination {
    background: var(--darker-background);

    .page-item {
      .active {
        background: var(--page-link-active);
        font-weight: bold;
      }

      a {
        font-size: 1.5rem;
      }
    }
  }

  li:last-child {
    float: left;
    border-right: 0;
  }
}

blockquote {
  padding: 0.8rem 1.5rem;
  background: var(--quote-background);
  border-left: solid 7px var(--green);
  font-style: normal;
  border-radius: 5px;
  margin-left: 1rem;
  margin-bottom: 1rem;

  p {
    margin: 0;
  }
}

.category {
  background-color: var(--lightgrey);
  border-radius: 5px;
  padding: 0.5rem;
}

.about-pic {
  border-radius: 50px;
}

.search-box {
  width: 90%;
  border: var(--lightgrey) 1px solid; // CLean up styles --> SASS, up fontsize for search results
  border-radius: 0.5rem;
  padding: 0.3rem 0.2rem;

  &:focus {
    outline: none;
    box-shadow: 0px 0px 5px 1px var(--lightgreen);
    transition: all 0.2s;
  }
}

.results-list {
  margin: auto;
  width: 90%;
  opacity: 0;
  transition: opacity 0.3s;
  height: unset;
  max-height: 12rem;

  &.visible {
    opacity: 1;
  }

  .search-result {
    width: unset;
    height: unset;
    float: unset;
    border: none;
    background: var(--search-result-background);
    border: var(--search-result-border) 1px solid;
    transition: all 0.1s;
    color: var(--lightgrey);
    font-size: 0.8rem;
    padding: 0.2rem;
    line-height: 1.3;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

    &.is-render {
      a {
        height: unset;
        padding: 0;
      }

      &::before {
        content: '';
        background: url("/img/BlenderIcon.png");
        background-size: contain;
        height: 25px;
        width: 25px;
        margin-right: 1rem;
      }
    }

    a {
      color: var(--main-colour);
    }

    &:hover {
      box-shadow: 0px 0px 3px 1px var(--lightgreen);
    }

    a:hover {
      color: var(--darkgreen);
      text-shadow: none;
    }
  }
}

.post-summary {
  > p {
    margin-bottom: 0;
  }
}

.post-title {
  margin-top: unset;
}

.sidebar {
  position: fixed;
  top: 0;
  background: var(--darker-background);
  height: 100%;
  width: 290px;
  padding-top: 1rem;
  padding-right: 5px;
  box-shadow: 0 0 5px 5px var(--sidebar-border);

  .site-title {
    font-size: 1.75rem;
    margin-bottom: 5px;
    border-bottom-width: 2px;
  }

  .recent-posts-title {
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
  }

  .recent-render-container {
    .recent-title {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }

    .recent-render {
      display: block;

      .image {
        border-radius: 0.5rem;
        box-shadow: 0 0 0 var(--grey);
        transition: all 0.2s;

        &:hover {
          box-shadow: 0 0 5px 2px var(--grey);
        }
      }
    }
  }
}

.wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.recent-posts {
  display: block;
  margin: auto;
  border: none;
  background: none;
  height: unset;

  li {
    font-size: 0.9rem;
    width: auto;
    margin: auto;
    border: none;
    text-align: right;
    float: unset;
    height: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a {
      display: unset;
      text-align: unset;
      padding: unset;
      height: unset;
      color: var(--green);
    }
  }
}

a {
  color: var(--link);
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    text-shadow: 0 0 5px darken($link, 20%);
  }
}

.light-dark-button {
  background-color: transparent;
  color: var(--main-colour);
  border: 1px solid;
  padding: 0.5rem 0.5rem;
  border-radius: 5px;
  border-color: var(--search-result-border);
  cursor: pointer;
  margin: auto;

  &:hover {
    box-shadow: 0 0 1px 2px var(--search-result-border);
  }
}

.post-list {
  display: flex;
  flex-direction: column-reverse;

  .post-list-item {
    box-shadow: 0 0 1px 0 gray;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    margin: 0.5rem;
  }
}

.table-of-contents {
  #TableOfContents {
    ul {
      padding-inline-start: 2rem;
      margin-block-end: 0;
    }
  }

  &.one {
    #TableOfContents {
      > ul {
        > li {
          > ul {
            display: none;
          }
        }
      }
    }
  }

  &.two {
    #TableOfContents {
      > ul {
        > li {
          > ul {
            > li {
              > ul {
                display: none;
              }
            }
          }
        }
      }
    }
  }

  &.three {
    #TableOfContents {
      > ul {
        > li {
          > ul {
            > li {
              > ul {
                > li {
                  > ul {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  &.four {
    #TableOfContents {
      > ul {
        > li {
          > ul {
            > li {
              > ul {
                > li {
                  > ul {
                    > li {
                      > ul {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

body {
  overflow: overlay;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: green;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.halfsize-frame, .quartersize-frame, .fullsize-frame, .media-frame {
  display: none;
}

.media {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
}

details {
  &.boxed {
    border: 1px solid var(--lightgrey);
    border-radius: 10px;
    padding: 1rem;
    margin: 0.25rem;
    cursor: pointer;
  }
}

.nav-links {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 1rem;

  .prev-post, .next-post {
    display: grid;

    > .item {
      font-size: 0.75rem;
    }
  }

  .categories {
    justify-self: center;
  }

  .next-post {
    justify-self: end;
  }
}

.my-header {
  .anchor-link {
    color: transparentize($color: $link, $amount: 0.75);
  }

  &:hover {
    a {
      color: var(--link);
    }
  }
}