p {
    font-size: 1.2rem;
}

li {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.3em;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
}

header {
    width: unset;
    position:  unset;

    .description {
        font-size: 1rem;
        text-align: right;
    }
}

table {
    width: unset;

    tr {
        td {
            border: 1px solid #e5e5e5;

            &:first-child {
                font-weight: bold;
                white-space: nowrap;
            }
        }
    }
}

footer {
    bottom: 20px;
    p {
        font-size: 1rem;
        padding: 0;
        margin: 0;
    }

    .citations {
        font-size: 0.75rem;
    }

    .renders {
        display: inline-flex;
        align-items: center;

        img {
            margin-right: 0.5rem;
        }
    }
}

header, footer {
    border: none;
}

section {
    font-size: 1.2rem;
    width: 60%;
    border: none;
    margin-left: 20rem;
}

small {
    font-size: 1rem;
}


.subtitle {   
    text-align: center;
    font-size: 70%;
    color: rgba(0, 0, 0, .5);
}

.right-chevrons {
    font-size: 2.5rem;
    position: absolute;
    margin-top: -1.1rem;
    margin-left: 0.5rem;   
    z-index: -1;
}

.media {
    text-align: center;

    &.video {
        margin-bottom: 2rem;
    }

    .inner {
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            box-shadow: 0px 0px 5px 5px grey;
        }
    }
}

.alt-text {
    color: slategray;
    font-size: 75%;
    margin-bottom: 2rem;

    &.nospacer {
        margin-bottom: 0;
    }
}

.split-code-container {
    display: flex;
    justify-content: space-around;

    &.smaller {
        justify-content: unset;

        .left {
            margin-right: 3rem;
        }
    }

    .left, .right {
        max-width: 49%;
    }
}

code {
    font-family: 'Fira Code';
    font-size: 1rem;
}

// Inline stuff
p, li, section {
    > code {
        background-color: rgba(0, 0, 0, .05);
        color: rgba(0,0,0,.7);
        padding: 0.1rem 0.5rem;
        border-radius: 5px;
    }
}

// Code blocks
pre {
    overflow-x: auto;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    > code {
        font-size: 0.8rem;
    }
}

.pagination {
    .pagination {
        background: rgb(250, 250, 250);

        .page-item {
            .active {
                background: #90ee9052;
                font-weight: bold;
            }

            a {
                font-size: 1.5rem;
            }
        }
    }

    li:last-child {
        float: left;
        border-right: 0;
    }
}

blockquote {
    padding: 0.8rem 1.5rem;
    background: rgba(144, 238, 144, 0.5);
    border-left: solid 7px green;
    font-style: normal;
    border-radius: 5px;
    margin-left: 1rem;
    margin-bottom: 1rem;

    p {
        margin: 0;
    }
}

.category {
    background-color: #ddd;
    border-radius: 5px;
    padding: 0.5rem;
}

.tags {
    text-align: center;
    font-size: 1.5rem;
} 

.tag-list {
    display: flex;
    flex-wrap: wrap;

    .tag {
        width: 50%;

        .tag-header {
            font-size: 2rem;
            font-weight: bold;
            list-style-type: none;
        }
    }
}

.about-pic {
    border-radius: 50px;
}

.search-box {
    width: 90%;
    border: lightgrey 1px solid;  // CLean up styles --> SASS, up fontsize for search results
    border-radius: 0.5rem;
    padding: 0.3rem 0.2rem;

    &:focus {
        outline: none;
        box-shadow: 0px 0px 5px 1px lightgreen;
        transition: all 0.2s;
    }
}

.results-list {
    margin: auto;
    width: 90%;
    opacity: 0;
    transition: opacity 0.3s;
    height: unset;
    max-height: 12rem;

    &.visible {
        opacity: 1;
    }

    .search-result {
        width: unset;
        height: unset;
        float: unset;
        border: none;
        background: rgba(144, 238, 144, 0.1);
        border: rgba(144, 238, 144, 0.3) 1px solid;
        transition: all 0.1s;
        color: gray;
        font-size: 0.8rem;
        padding: 0.2rem;
        line-height: 1.3;

        &:hover {
            box-shadow: 0px 0px 3px 1px lightgreen;    
        }

        a:hover {
            color: darkslategray;
        }
    }
}

.post-title {
    margin-top: unset;
}

.post-summary {
    margin-bottom: 2rem;
}

.sidebar {
    position: fixed;
    background: rgb(250, 250, 250);
    height: 100%;
    width: 290px;
    border-right: 10px solid #eee;
    padding-top: 1rem;
}

.render {
    margin-bottom: 1rem;

    .video {
        .alt-text {
            margin: 0;
        }
    }

    .info {
        p {
            font-size: 0.8rem;
        }

        .description {
            margin: 0;

            p {
                margin: 0;
            }
        }

        .details {
            margin-top: 0.5rem;
            display: flex;

            p {
                margin-right: 2rem;
            }
        }
    }
}

.wrapper {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}

.render-list {
    .render-resources {
        margin-bottom: 2rem;
    }

    .render-images {
        display: flex;
        flex-direction: column-reverse;

        &.tiles {
            display: flex;
            flex-flow: row wrap-reverse;
    
            > h1, details {
                display: block;
            }
    
            > div {
                width: 15rem;
                margin-left: 1rem;
                margin-right: 1rem;
            }
        
            .info {
                display: none;
            }
        }
    }
}

.render-toggle-buttons {
    flex-basis: 100%;

    button {
        border: 1px solid lightgrey;
        background-color: transparent;
        border-radius: 6px;
        height: 3em;
        transition: all 0.25s;
        outline-color: green;
        cursor: pointer;
    }

    .selected {
        border-color: green;
        box-shadow: 0px 0px 5px 0px green;
    }
}

.recent-posts {
    display: block;
    margin: auto;
    border: none;
    background: none;
    height: unset;

    li {
        font-size: 0.9rem;
        width: auto;
        margin: auto;
        border: none;
        text-align: right;
        float: unset;
        height: 2rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        a {
            display: unset;
            text-align: unset;
            padding: unset;
            height: unset;
            color: green;
        }
    }
}