$main-background: rgb(255, 255, 255);
$main-colour: rgb(60,60,60);
$lightened-black: rgba(0, 0, 0, .7);
$very-light-black: rgba(0, 0, 0, .1);
$slategray: slategray;
$grey: grey;
$page-link-active: #90ee9052;
$green: green;
$lightgrey: lightgrey;
$lightgreen: lightgreen;
$darkgreen: darkslategray;
$link: rgb(0, 195, 255);