<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body id="main-body" class="">
        <aside id="default-sidebar" class="fixed top-0 left-0 w-64 h-screen transition-transform">
            {{- partial "header.html" . -}}
            {{- partial "footer.html" . -}}
        </aside>
        
        <div id="wrapper" class="p-4 sm:ml-64">
            {{- block "main" . -}}{{- end -}}
        </div>
    </body>
</html>
