/* reset */
/* font size, family, colours (dark mode first) etc */

:root {
  --background: rgb(29, 29, 29);
  --text: rgb(218, 218, 218);
  --link: rgb(0, 160, 48);
  --visitedLink: #90ee9052;
}

@font-face {
  font-family: 'Fira Code';
  src: 
    local('FiraCode-Regular')
    url('/fonts/FiraCode-Regular.woff2') format('woff2'),
    url("/fonts/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: 'Segoe UI';
  background-color: var(--background);
  color: var(--text);
}

h1 {
  font-size: 1.75rem;
  margin: 0;
}

a {
  color: var(--link);

  &:hover {
    color: var(--link);
  }

  &:visited {
    color: var(--visitedLink);
  }
}

body {
  display: grid;
  grid-template-areas: "sidebar" "content";
  grid-template-columns: 15rem auto;
  gap: 0.5rem;
}

ul {
  padding-inline-start: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .profile-link {
    display: flex;
    justify-content: center;

    .profile-picture {
      width: 5rem;
      height: 5rem;
      padding: 0.2rem;
      border-radius: 5rem;
      border: 1px solid white;
    }
  }

  .site-title {
    text-align: center;
  }
}