{{ $stylesSCSS := resources.Get "assets/scss/mystyles.scss" }}
{{ $mobileSCSS := resources.Get "assets/scss/mobile.scss" }}

{{ $stylesCSS := $stylesSCSS | toCSS }}
{{ $mobileCSS := $mobileSCSS | toCSS }}


{{ $combined := slice $stylesCSS $mobileCSS }}

{{ if .Site.IsServer }}
  {{ range $combined }}
    <link rel="stylesheet" defer href="{{ .Permalink }}">
  {{ end }}
{{ else }}
  {{ $styles := $combined | resources.Concat "css/styles.css" | minify}}
  <link rel="stylesheet" defer href="{{ $styles.Permalink }}">
{{ end }}