header {
    background: white;
}

footer {
    background: white;
}

.subtitle {   
    text-align: center;
    font-size: 70%;
    color: rgba(0, 0, 0, .5);
}

.inline-code {
    font-family: Inconsolata,monospace;
    background-color: rgba(0, 0, 0, .05);
    color: rgba(0,0,0,.7);
    padding: 0.1rem 0.5rem;
    font-size: 1rem;
}

section {
    font-size: 1.3rem;
}

@media print, screen and (max-width: 960px) {
    html {
        font-size: 8px;
    }

    h2 {
        font-size: 3rem;
    }

    .site-subtitle {
        font-size: 1.4rem;
    }

    body {
        padding: 0.1rem;
    }

    header {
        position: fixed;
        width: 8rem;
    }

    section {
        margin-left: 9.5rem;
    }

    footer {
        float: left;
        position: fixed;
        width: 9.5rem;
        border-right: none;
        font-size: 1rem;
    }

    section {
        font-size: 2rem;
    }
}

.right-chevrons {
    font-size: 2.5rem;
    position: absolute;
    margin-top: -1.1rem;
    margin-left: 0.5rem;
}

.image {
    text-align: center;
}

.image .image-alt-text {
    color: slategray;
    font-size: 75%;
    margin-bottom: 2rem;
}