{{ define "main" }}
{{ $prev := .CurrentSection.Pages.Prev .}}
{{ $next := .CurrentSection.Pages.Next .}}
<section>
    <div style="display: flex; justify-content: space-between;">
        <h1 class="post-title">{{ .Title }}</h1>
        <div class="render-date">{{ .Date.Format "2006-01-02" }}</div>
    </div>
    {{ .Content }}
    <div class="render-nav-links">
        {{ if ne $prev nil }}
        <span> 
            &lt;&lt; 
            <a href="{{ $prev.RelPermalink }}">{{ $prev.Title }}</a>
        </span>
        {{ end }}

        <span />

        {{ if ne $next nil }}
        <span>  
            <a href="{{ $next.RelPermalink }}">{{ $next.Title }}</a>
            &gt;&gt;
        </span>
        {{ end }}
    </div>
</section>
{{end}}