{{ $halfsize := .Page.Resources.GetMatch (string (delimit (slice (.Get "path") "_halfsize.webp") ""))}}
{{ $webp := .Page.Resources.GetMatch (string (delimit (slice (.Get "path") ".webp") ""))}}
{{ $png := .Page.Resources.GetMatch (string (delimit (slice (.Get "path") ".png") ""))}}
{{ $jpg := .Page.Resources.GetMatch (string (delimit (slice (.Get "path") ".jpg") ""))}}

<!-- Not sure why we need it in here. Dunno what's nil, but something is and I can't find it. -->
<div class="media image" onclick="zoomImage(this)">
    <picture class="quartersize-frame media-frame">
        <!-- need .Permalink in srcset so it also works in the list page -->
        <!-- NOTE: There's currently no quartersize images so just duplicate the halfsize -->
        <!-- This disgusts me, but I can't see a way besides shortcodes to reuse this in other places. -->
        {{ if ne $halfsize nil }}<source srcset='{{ $halfsize.Permalink }}' media="(max-width: 960px)" type="image/webp">{{end}}
        <source srcset='{{ $webp.Permalink }}' type="image/webp">
        {{ if ne $png nil }}
        <source srcset='{{ $png.Permalink }}' type="image/png"> 
        {{ else }}
        <source srcset='{{ $jpg.Permalink }}' type="image/jpg"> 
        {{ end }}
        <img class="image inner" 
            {{ with $png }}
            src='{{ .Permalink }}' 
            width="{{ .Width }}" 
            height="{{ .Height }}"
            {{ end }}
            {{ with $jpg }}
            src='{{ .Permalink }}' 
            width="{{ .Width }}" 
            height="{{ .Height }}"
            {{ end }}
            alt='{{ with .Get "alt" }}{{ . }}{{ else }} "No Alt Text" {{ end }}' 
            loading="lazy">
    </picture>

    <picture class="halfsize-frame media-frame">
        <!-- need .Permalink in srcset so it also works in the list page -->
        {{ if ne $halfsize nil }}<source srcset='{{ $halfsize.Permalink }}' media="(max-width: 960px)" type="image/webp">{{end}}
        <source srcset='{{ $webp.Permalink }}' type="image/webp">
        {{ if ne $png nil }}
        <source srcset='{{ $png.Permalink }}' type="image/png"> 
        {{ else }}
        <source srcset='{{ $jpg.Permalink }}' type="image/jpg"> 
        {{ end }}
        <img class="image inner" 
        {{ with $png }}
            src='{{ .Permalink }}' 
            width="{{ .Width }}" 
            height="{{ .Height }}"
            {{ end }}
            {{ with $jpg }}
            src='{{ .Permalink }}' 
            width="{{ .Width }}" 
            height="{{ .Height }}"
            {{ end }}
            alt='{{ with .Get "alt" }}{{ . }}{{ else }} "No Alt Text" {{ end }}' 
            loading="lazy">
    </picture>

    <picture class="fullsize-frame media-frame">
        <!-- need .Permalink in srcset so it also works in the list page -->
        <source srcset='{{ $webp.Permalink }}' type="image/webp">
        {{ if ne $png nil }}
        <source srcset='{{ $png.Permalink }}' type="image/png"> 
        {{ else }}
        <source srcset='{{ $jpg.Permalink }}' type="image/jpg"> 
        {{ end }}
        <img class="image inner" 
        {{ with $png }}
            src='{{ .Permalink }}' 
            width="{{ .Width }}" 
            height="{{ .Height }}"
            {{ end }}
            {{ with $jpg }}
            src='{{ .Permalink }}' 
            width="{{ .Width }}" 
            height="{{ .Height }}"
            {{ end }}
            alt='{{ with .Get "alt" }}{{ . }}{{ else }} "No Alt Text" {{ end }}' 
            loading="lazy">
    </picture>
    
    <!--Note that anchors don't work for images on refresh for some reason-->
    
    <div class='alt-text-container'>
        {{ if in .Page.Permalink "renders" }}
        <a href='{{ $webp.Permalink }}'>Bigger</a>
        {{end}}
        <span class="alt-text">{{ .Get "alt" }}</span>
        {{ if in .Page.Permalink "renders" }}
        <a href='{{ $png.Permalink }}'>PNG</a>
        {{end}}
    </div>
</div>