{{ $vp9 := .Page.Resources.GetMatch (string (delimit (slice (.Get "path") "_VP9.webm") "")) }}
{{ $vp9half := .Page.Resources.GetMatch (string (delimit (slice (.Get "path") "halfsize_VP9.webm") "")) }}
{{ $vp9quarter := .Page.Resources.GetMatch (string (delimit (slice (.Get "path") "quartersize_VP9.webm") "")) }}

{{ $av1 := .Page.Resources.GetMatch (string (delimit (slice (.Get "path") "_AV1.mp4") "")) }}
{{ $av1half := .Page.Resources.GetMatch (string (delimit (slice (.Get "path") "halfsize_AV1.mp4") "")) }}
{{ $av1quarter := .Page.Resources.GetMatch (string (delimit (slice (.Get "path") "quartersize_AV1.mp4") "")) }}

{{ $mp4 := .Page.Resources.GetMatch (string (delimit (slice (.Get "path") ".mp4") "")) }}

Are these arrays we can get? Or am I going to list out every single one...
is this seriously the way I have ot do it? Can the Size query on the source tag not do it?
{{ if ne $vp9 nil }}
<div class="media video" >
    {{ if and (and (in .Page.Permalink "renders") (ne $vp9quarter nil)) (ne $av1quarter nil) }}
    <video style="max-width: 100%" autoplay muted loop playsinline class="inner halfsize-frame lazy">
        <source data-src="{{ $av1quarter.Permalink }}" type="video/mp4; codecs=av01.0.05M.08">
        <source data-src="{{ $vp9quarter.Permalink }}" type="video/webm; codecs=vp9">
        Video doesn't work :(
    </video>
    {{end}}

    <video class="inner picture-frame lazy" autoplay muted loop playsinline style="max-width: 100%" width='{{ .Get "width" }}' height='{{ .Get "height" }}'>
        <source data-src='{{ $av1half.Permalink }}' type="video/mp4; codecs=av01.0.05M.08">
        <source data-src='{{ $vp9half.Permalink }}' type="video/webm; codecs=vp9">
        <source data-src='{{ $av1.Permalink }}' type="video/mp4; codecs=av01.0.05M.08">
        <source data-src='{{ $vp9.Permalink }}' type="video/webm; codecs=vp9">
        <source data-src='{{ $mp4.Permalink }}' type="video/mp4">
        Video doesn't work :(
    </video>

    <span id="edge-av1-message">AV1 support in Edge requires a <a href="https://apps.microsoft.com/store/detail/av1-video-extension/9MVZQVXJBQ9V?hl=en-us&gl=US">Microsoft Store Extension</a>.</span>

    <div class="hq-links">
        {{ if in .Page.Permalink "renders" }}
        <a href='{{ $vp9.Permalink }}'>Webm</a>
        {{ end }}
        <div class="alt-text">{{ .Get "alt" }}</div>
        {{ if in .Page.Permalink "renders" }}
        <a href='{{ $mp4.Permalink }}'>MP4</a>
        {{ end }}
    </div>
</div>
{{ end }}